// 全局变量区
$main-color:#4cbdb4;
$second-color:#109187;
$third-color:#f47475;
$bg-color:#f6f8f9;
$font-color-cz1:#000;
$font-color-cz2:#333;
$font-color-cz3:#666;
$font-color-cz4:#999;

$header-height:58px;
$sidebar-width:168px;


/* 全局样式 */
* {box-sizing: border-box;font-family:'Microsoft YaHei',"微软雅黑";}
body { overflow-x: hidden;}
 ol, ul { list-style-type: none; padding:0;margin:0;}
 img { border:none;}
 a { text-decoration: none; cursor: pointer; }
// a:link, a:visited { text-decoration: none; -webkit-transition: all 480ms; -ms-transition: all 480ms; -moz-transition: all 480ms; transition: all 480ms; }
// a:active, a:hover { text-decoration: none; -webkit-transition: all 480ms; -ms-transition: all 480ms; -moz-transition: all 480ms; transition: all 480ms; }
 .clearfix:before, .clearfix:after { display: table; content: ""; line-height: 0px; }
 .clearfix:after { clear: both; }
 .clearfix { *zoom: 1; }

//侧边栏sidebar目样式
.sidebar{
  position: fixed;
  top:58px;
  left:0;
  z-index: 777;
  width: $sidebar-width;
  padding-top:30px;
  background-color: #fff;
  a{
    display: block;
    padding: 15px 0;
    text-align: center;
    color:#333;
    margin:15px 0;
    &:hover{
      background-color: $main-color;
      color:#fff;
    }
    transition: 0.3s;
    &.router-link-active{
      background-color: $main-color;
      color:#fff;
    }
  }
}

//框架main-container中间部分样式
.main-container{
  box-sizing: border-box;
  padding: 40px 40px 40px 60px;
  margin-top:$header-height;
  margin-left:$sidebar-width;
}

//input输入框公有下划线，文字居中（用于项目中的设备列表）
.only-bottom-border{
  input{
    border:none;
    border-bottom: 1px solid #aaa;
    border-radius: 0;
    text-align: center;
  }
}

/* 全局样式结束 */