/* 改变主题色变量 */
$--color-primary: #4cbdb4;

/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";

.el-step__head.is-success {
  color: #4cbdb4;
  border-color: #4cbdb4;
}
.el-step__title.is-success {
  color: #4cbdb4;
}
.el-step__description.is-success{
  color: #4cbdb4;
}